body {
  background-color: #1c3470; }

.main-screen {
  padding-bottom: 20px; }

.main-left .main-wheel {
  position: fixed;
  top: 105px;
  z-index: -1;
  width: 519px;
  height: auto; }
.main-left .main-logo-header {
  padding-top: 30px;
  padding-left: 66px;
  padding-right: 66px; }
  .main-left .main-logo-header .main-logo1 {
    width: 281px;
    height: auto; }
  .main-left .main-logo-header .main-logo2 {
    width: 154px;
    height: auto;
    margin-left: 64px; }
.main-left .main-logo-center {
  padding-top: 56px;
  padding-left: 66px;
  padding-right: 66px; }
  .main-left .main-logo-center .main-logo3 {
    width: 526px;
    height: auto; }

.main-right {
  text-align: center; }
  .main-right .main-title {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin-top: 37px; }
  .main-right .main-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .main-right .main-user-info {
    background-color: #1C3470;
    margin-top: 10px;
    width: 480px;
    border: 2px dashed #fff;
    border-radius: 30px; }

.form-scan {
  width: 100%;
  padding: 30px; }
  .form-scan .token-title {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    padding: 5px 0;
    font-style: italic; }
  .form-scan .token-status {
    color: #fff;
    font-size: 22px;
    padding-bottom: 10px; }
  .form-scan .form-group-token {
    position: relative;
    padding-bottom: 0;
    margin-bottom: 15px; }
  .form-scan .token-input {
    background-color: transparent;
    width: 100%;
    height: 65px;
    border: 2px solid #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 30px;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    text-align: center; }
  .form-scan .btn-clear {
    display: none;
    position: absolute;
    z-index: 2;
    top: 50%;
    right: -10px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    border-radius: 50%;
    background-color: #fff;
    width: 30px;
    height: 30px;
    padding: 0;
    font-size: 0;
    border: none; }
    .form-scan .btn-clear i {
      font-size: 18px;
      color: #1C3470; }
  .form-scan .movie-name, .form-scan .guest-title {
    padding: 10px 0;
    color: #83A6FF;
    font-size: 18px; }
  .form-scan .movie-time {
    color: #fff;
    font-size: 30px;
    font-weight: 400; }
  .form-scan .movie-location {
    color: #fff;
    font-size: 20px;
    font-weight: 700; }
  .form-scan .block-color {
    width: 100%;
    height: auto;
    min-height: 105px;
    border-radius: 10px;
    background-color: #1B2D5C;
    padding: 15px 10px; }
  .form-scan .guest-text {
    padding: 3px 0;
    color: #fff;
    font-size: 18px;
    font-weight: 400; }
  .form-scan .btn-submit {
    margin-top: 32px;
    font-size: 26px;
    font-weight: 700;
    width: 163px;
    height: 48px;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.25); }
    .form-scan .btn-submit.disabled {
      background-color: #1C3470;
      color: #83A6FF; }
    .form-scan .btn-submit.acitve {
      background-color: #fff;
      color: #1C3470; }

.main-progress .main-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
.main-progress .ticket {
  margin-right: 140px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-top: 30px; }
.main-progress .amount {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: -10px; }
.main-progress .text {
  color: #fff;
  font-size: 50px;
  font-weight: 700; }
.main-progress .bar-container {
  background-color: #1B2D5C;
  height: 10px;
  width: 478px;
  margin: 0 auto;
  border-radius: 30px; }
.main-progress .main-bar {
  background-color: #1B2D5C;
  height: 10px;
  height: 100%;
  border-radius: 10px; }
.main-progress .bar {
  background-color: #fff;
  height: 10px;
  width: 0%;
  border-radius: 30px;
  -webkit-transition: width 400ms;
  -o-transition: width 400ms;
  transition: width 400ms; }
