body{
    background-color: #1c3470;
}
.main-screen{
    padding-bottom: 20px;
}

.main-left{

	.main-wheel{
		position: fixed;
		top: 105px;
		z-index: -1;
		width: 519px;
		height: auto;
	}
	.main-logo-header{
		padding-top: 30px;
		padding-left: 66px;
		padding-right: 66px;

		.main-logo1{
			width: 281px;
			height: auto;
		}

		.main-logo2{
			width: 154px;
			height: auto;
			margin-left: 64px;
		}
	}

	.main-logo-center{
		padding-top: 56px;
		padding-left: 66px;
		padding-right: 66px;

		.main-logo3{
			width: 526px;
			height: auto;
		}
	}
}

.main-right{
	text-align: center;

	.main-title{
		color: #fff;
		font-size: 20px;
		font-weight: 400;
		margin-top: 37px;
	}
	.main-user{
		display: flex;
		justify-content: center;
	}
	.main-user-info{
		background-color: #1C3470;
		margin-top: 10px;
		width: 480px;
		border: 2px dashed #fff;
		border-radius: 30px;
	}
}

.form-scan{
	width: 100%;
	padding: 30px;

	.token-title{
		color: #fff;
		font-size: 18px;
		font-weight: 300;
		padding: 5px 0;
		font-style: italic;
	}
	.token-status{
		color: #fff;
		font-size: 22px;
		padding-bottom:10px;
	}
	.form-group-token{
		position: relative;
		padding-bottom: 0;
		margin-bottom: 15px;
	}
	.token-input{
		background-color: transparent;
		width: 100%;
		height: 65px;
		border: 2px solid #fff;
		box-sizing: border-box;
		border-radius: 30px;
		color: #fff ;
		font-size: 40px;
		font-weight: 700;
		text-align: center;
	}
	.btn-clear{
		display: none;
		position: absolute;
		z-index: 2;
		top: 50%;
		right: -10px;
		transform: translateY(-50%);
		border-radius: 50%;
		background-color: #fff;
		width: 30px;
		height: 30px;
		padding: 0;
		font-size: 0;
		border: none;
		i{
			font-size: 18px;
			color: #1C3470;
		}
	}
	
	.movie-name, .guest-title{
		padding: 10px 0;
		color: #83A6FF;
		font-size: 18px;
	}
	.movie-time{
		color: #fff;
		font-size: 30px;
		font-weight: 400;
	}
	.movie-location{
		color: #fff;
		font-size: 20px;
		font-weight: 700;
	}
	
	.block-color{
		width: 100%;
		height: auto;
		min-height: 105px;
		border-radius: 10px;
		background-color: #1B2D5C;
		padding: 15px 10px;
	}
	.guest-text{
		padding: 3px 0;
		color: #fff;
		font-size: 18px;
		font-weight: 400;
	}

	.btn-submit{
		margin-top: 32px;
		font-size: 26px;
		font-weight: 700;
		width: 163px;
		height: 48px;
		border-radius: 10px;
		box-sizing: border-box;
		box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.25);
		&.disabled{
			background-color: #1C3470;
			color: #83A6FF;
		}
		&.acitve{
			background-color:#fff;
			color: #1C3470
		}
	}
}

.main-progress{
	.main-amount{
		display: flex;
		justify-content: center;
	}
	.ticket{
		margin-right: 140px;
		color: #fff;
		font-size: 20px;
		font-weight: 400;
		margin-top: 30px;
	}
	.amount{
		color: #fff;
		font-size: 30px;
		font-weight: 400;
		
		margin-bottom: -10px;
	}
	.text{
		color: #fff;
		font-size: 50px;
		font-weight: 700;
	}

	.bar-container{
		background-color: #1B2D5C;
		height: 10px;
		width: 478px;
		margin: 0 auto;
		border-radius: 30px;
	}
	.main-bar{
		background-color: #1B2D5C;
		height: 10px;
		height: 100%;
		border-radius: 10px;
	}
	.bar{
		background-color: #fff;
		height: 10px;
		width: 0%;
		border-radius: 30px;
		transition: width 400ms;
	}
}